services:
  db:
    image: pgvector/pgvector:pg15
    container_name: brain_dump_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: brain_dump_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
